<div class="card mb-4 shadow-sm">
  <form [formGroup]="requestForm" (ngSubmit)="submitForm()">
    
    <!-- שם הפונה -->
    <div class="mb-3">
      <label class="form-label">שם הפונה:</label>
      <input type="text" formControlName="name" class="form-control">
      <div *ngIf="requestForm.get('name')?.invalid && requestForm.get('name')?.touched" class="text-danger">
        חובה למלא שם
      </div>
    </div>

    <!-- נושא הפנייה -->
    <div class="mb-3">
      <label class="form-label">נושא:</label>
      <input type="text" formControlName="subject" class="form-control">
      <div *ngIf="requestForm.get('subject')?.invalid && requestForm.get('subject')?.touched" class="text-danger">
        חובה למלא נושא עם לפחות 5 תווים
      </div>
    </div>

    <!-- תוכן הפנייה -->
    <div class="mb-3">
      <label class="form-label">תוכן:</label>
      <textarea formControlName="content" rows="3" class="form-control"></textarea>
    </div>

    <!-- כפתור שליחה -->
    <button type="submit" class="btn btn-primary w-100" [disabled]="requestForm.invalid">
      שלח פנייה
    </button>

  </form>
</div>
